body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}
.VPN {
    font-size: 24px;
    margin-bottom:270px;
    color: #ff6600;
}
h3 {
    font-size: 24px;
    margin-top:20px;
    color: #ff6600;
}
header {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('image.png');
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    z-index: 1;
    margin-top: 80px;
}
.long{
    margin-bottom: 120px;
}
.logo{
    margin-top: 50px;
    margin-bottom: 0px;
    margin-right: 1100px;
    color: #ff000d;
}
nav ul {
    list-style: none;
    display :flex ;
    justify-content:space-between;
    margin-left: 240px;
    width: 1000px; 
    padding-right: 40px;
}

nav li{
    
    line-height: 50px;
    
}

nav ul {
	border-radius: 6px;
	background-image: linear-gradient(
		rgb(48, 48, 48) 13%,
		rgb(30, 30, 30) 40%,
		#0c0d11 86%
	);
	color: rgba(255, 255, 255, 0.6);
	text-shadow: 0 2px 0 black;
	cursor: pointer;
	/* box-shadow: 1px 2px 4px rgb(20, 20, 20), 0 4px 12px rgb(10, 10, 10);
} */
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    color: #ffff00;
}

h1 {
    font-size: 36px;
     margin-bottom: -20px; 
    color: #ff000d;
    margin-top: 200px;
}



.guarantee {
    font-size: 16px;
    color: #fff;
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 10px;
    margin: 20px auto;
}

.btn {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #3e8e41;
}

.main-content {
    position: relative;
    top: 100vh;
    left: 0;
    padding: 40px;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding-right: 400px;
    animation: slideIn 1s ease-out forwards, fadeIn 1s ease-out 0.5s forwards;
    margin-bottom: 50px; 
}

.section {
    margin-bottom: 40px;
    align-content: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #242424;
    color: #fff;
    width: 800px;
    animation: slideIn 1s ease-out forwards, fadeIn 1s ease-out 0.5s forwards;
    justify-content: center;
   
    text-align: center;
}
.section:hover{
    background-color: #1d1d1d;
}
.section h3 {
    font-size: 24px;
    margin-bottom: 10px;
}
#contact {
    color: #fff;
    
}
.section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.section li {
    font-size: 16px;
    margin-bottom: 10px;
}

footer {
    
    text-align: center;
    background-color: #2b2b2b;
    color: #fff;
    animation: slideIn 1s ease-out forwards, fadeIn 1s ease-out 0.5s forwards;
    position:relative;
    bottom: 0;
    left: 0;
    
    grid-row: 3; 
    padding: 20px;
    margin-top: 600px;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-inner {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-top-color: #4CAF50;
    animation: spin 0.2s linear forwards;
}

@keyframes slideIn {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


nav a {
    cursor: pointer;
}

nav a:hover {
    color: #ffff00;
}

nav a:active {
    color: #4CAF50;
}

nav a:focus {
    color: #4CAF50;
}


.main-content,
.section,
footer {
    animation-delay: 1s;
    animation-fill-mode: both;
}

.main-content {
    animation-name: slideIn, fadeIn;
    animation-duration: 1s;
}

.section {
    animation-name: slideIn, fadeIn;
    animation-duration: 1s;
}

footer {
    animation-name: slideIn, fadeIn;
    animation-duration: 1s;
}

.loader {
    display: none;
}

.image {
    margin: 60px 0px 60px 00px;
}
.column1 {
    float: left;
    width:450px;
    padding: 15px;
   

}

.column2 {
    float: right;
    width: 450px;
    padding: 15px;
    
    
    
}
.main-content:after {
    content: "";
    display:table-row;
    clear:both;
}
img {
    width: 500px;
    padding-left: 200px;
}
